body {
  font-size: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  background: black;
}

h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header-bg {
  background: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  color: white;
  display: inline-block;
  padding: 16px 0;
  position: relative;
  font-size: 20px;
  text-decoration: none;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: white;
  margin-top: 4px;
}

.header-menu a:hover:after {
  width: 100%;
  transition: 0.3s;
}

.main-bg {
  background: black;
  padding-bottom: 0;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;
}

.introducao-conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  font-family: Poppins;
  padding: 0px 0px;
}

.introducao-conteudo h1,
p {
  color: white;
}

.introducao-conteudo h1 {
  font-size: 45px;
  flex-wrap: wrap;
  letter-spacing: 2px;
}

.introducao-conteudo p {
  font-size: 25px;
  color: #b2b2b2;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .introducao p {
    font-size: 20px;
  }
  .introducao img {
    height: 280px;
  }
  .botao {
    margin-top: 10px;
  }
}

@media (max-width: 800px) {
  .header {
    justify-content: center;
  }
  .header img {
    margin-left: -80px;
    margin-bottom: -20px;
  }
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao-conteudo h1 {
    font-size: 30px;
    margin-bottom: -10px;
    margin-top: -20px;
  }
  .introducao-conteudo p {
    font-size: 20px;
    margin-bottom: 0px;
  }
  .introducao-conteudo img {
    height: 300px;
  }
  .introducao-conteudo a {
    margin-bottom: 80px;
    justify-content: center;
  }
}

.ponto {
  color: #ffb60d;
}

.botao {
  color: black;
  background-color: #ffb60d;
  padding: 16px 32px;
  border-radius: 4px;
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.botao:hover {
  background-color: #e59317;
}
